.name {
    background-color: khaki;
    color: black;
}

.prof {
    background-color: beige;
    color: black;
}

.name-selected {
    background-color: maroon;
    color: beige;
}

.prof-selected {
    background-color: khaki;
    color: maroon;
}

.error {
    background-color: red;
    color: white;
}

.vote {
    margin-top: 20px;
    background-color: green;
    color: beige;
    padding: 4px 10px;
    font-size: large;
    outline: 0;
}

.vote:hover {
    opacity: 0.7;
}

.edit-prof {
    background-color: green;
    color: whitesmoke;
}

.edit-prof:hover {
    cursor: pointer;
}

.now-editing {
    background-color: orange;
    color: whitesmoke;
}

input {
    width: 500px;
    height: 20px;
}

button {
    margin-left: 10px;
    cursor: pointer;
}