.name {
    background-color: khaki;
    color: black;
}

.prof {
    background-color: beige;
    color: black;
}

.name-selected {
    background-color: maroon;
    color: beige;
}

.prof-selected {
    background-color: khaki;
    color: maroon;
}

.error {
    background-color: red;
    color: white;
}
